/* General styles */


* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



body {
    
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
    width:100%;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center; */
}

.selected {
    color: gray;
}

.hoverClass {
    cursor: pointer;
}

.hoverClass:hover {
    color: gray;
}

/* Header styles */

header {
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 10em;

}

nav {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

nav ul {
    margin-left: 0em;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: center;
}

nav li {
    padding: 0;
    list-style: none;
    width: 100%;
    font-family: sans-serif;
    color: seashell;
    font-weight: bold;
    text-align: center;
}

nav li a {
    text-decoration: none;
    color: seashell;
}


#page-heading a {
    text-decoration: none;
    color: seashell;
    font-family: sans-serif;
}

li {

}


/* main section style */

.page-info h4 {
    font-size: 1.2em;
    
}

.page-info h4 span {
    border-bottom: 2px solid #ccffff;
}

/* body {
    background-image: url("image/coffee.jpg");
} */

section {
    width: 100%;
}

/* slideshow styles */

#coffee-image {
    background-image: url("image/tamper.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
}

#interior-image {
    background-image: url("image/interior1.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
}

#drink-image {
    background-image: url("image/drink-image.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
}

.mySlides {
    display: none;
}

.fade {
    /* -webkit-animation-name: fade;
    -webkit-animation-duration: 7s;  */
    animation-name: fade;
    animation-duration: 7s;
    animation-timing-function: ease-out;
}

/* @-webkit-keyframes fade {
    from {opacity: .6}
    to {opacity: 1;}
} */

@keyframes fade {
    from {opacity: .6}
    to {opacity: 1}
}

/* .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 7s; 
    animation-name: fade;
    animation-duration: 3s;
}

@-webkit-keyframes fade {
    from {opacity: 1}
    to {opacity: .3}
}

@keyframes fade {
    from {opacity: 1}
    to {opacity:.3}
} */


/* page info */

#flex-page-info {
    display: flex;
    color: seashell;
    flex-direction: column;
    text-align: center;
    max-width: 100%;
    flex-wrap: wrap;
}

.page-info {
    margin: 1em;
}

#opening-times {
    display: flex;
    flex-direction: column;
}

.days {
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
    /* text-align: left; */
}




footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: seashell;
    margin: 2em auto 0;
    height: 60px;
    width: 100%;
    margin: auto;
    padding: 1em;
}

#footer-spacer {
    height: 4.5em;
}

/* #opening-times {
    display: flex;
    flex-direction: column;
    align-items: center;
} */


/*location page styling*/



 #map {
     max-width: 90%;
     margin: 1.5em;
 }


 #location-text p {
     margin: 1em;
     text-align: left;
 }
 /* menu page styling */

 #menu-image {
    background-image: url("image/dinner.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
}

#menu-image2 {
    background-image: url("image/menu-2.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
}

#menu-image3 {
    background-image: url("image/menu-3.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
}

.page-info a {
    color: seashell;
    text-decoration: none;
}

#menu-link {
    color: #ccffff;
}

#menu-link:hover {
    color:  #00cccc;

}

#spacer {
    height: 4em;
}



/* contact page styling */

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-image: url("image/contact.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
}

#contact h1 {
    color: seashell;
    font-size: 2rem;
}

.form-main {
    height: 25rem;
    margin: 2em auto;
    width: 90%;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    text-align: center;
    width: 100px;
    font-size: 1.25em;
}

input, textarea {
    font: sans-serif;
    width: 100%;
    height: 2em;
    border: 1px solid #999;
}

input:focus, textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5rem;
}

button {
    margin: .5em;
    padding: 0.8em;
}

.contact-form {
    margin: 1em 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* slideshow animation styling */

.mySlides {
    display: none;
}

.fade {
    /* -webkit-animation-name: fade;
    -webkit-animation-duration: 7s;  */
    animation-name: fade;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

/* @-webkit-keyframes fade {
    from {opacity: .6}
    to {opacity: 1;}
} */

@keyframes fade {
    from {opacity: .6}
    to {opacity: 1}
}


/* media query styling */

/* @media (min-width: 430px) {
    .form-wrapper {
        width: 75%;
        margin: auto;
    }
} */

@media (min-width: 545px) {
     div.page-info p { 
        width: 65%;
        margin: auto;
        text-align: center;
    } 
}

@media (min-width: 576px) {
    nav  {
        max-width: 90%;
    }

    #flex-page-info {
        max-width: 75%;
        margin: auto;
    }
}

@media (min-width: 534px) {
    

     section#flex-page-info {
        max-width: 100%;
        /* margin: auto; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    
    .page-info {
        width: 360px;
        margin: 0;
        padding: 1em;
        flex-grow: 1;
        
    }

    .form-wrapper {
        width: 75%;
        margin: auto;
    }
}

@media (min-width: 642px) {

    .form-main {
        width: 65%;
    }

}

@media (min-width: 710px) {
    nav {
        max-width: 75%;
    }

    #flex-page-info {
        max-width: 65%;
        margin: auto;
    }
}

@media (min-width: 768px) {

    header {
        flex-direction: row;
        justify-content: space-between;
        margin: 2em;
        height: 4.5em;
    }

    nav, header h1 {
        max-width: 50%;
    }

    nav {
        font-size: 1.35em;
    }


    .slideshow-container {
        max-width: 100%;
    }

    #coffee-image, #interior-image, #drink-image {
        height: 400px;
    }

    #contact {
        width: 100%;
        height: 400px;
    }
    
    div#menu-image.fade.fade.mySlides, div#menu-image2.fade.fade.mySlides, div#menu-image3.fade.fade.mySlides {
        height: 400px;
    }
    /* .page-info {
        width: 50%;
    } */

    a#menu-link.hoverClass {
        font-size: 1.5em;
    }

    footer {
        margin-top: 6em;
    }

    .form-wrapper {
        margin-top: 2em;
    }

    section#flex-page-info {
        justify-content: space-around;
        margin-top: 4em;
        margin-bottom: 8em;
    }


    div#location-text {
        width: 50%;
    }

    div.form-wrapper {
        width: 70%;
    }



    
   
}

@media (min-width: 900px) {
    div.form-wrapper {
        width: 60%;
    }

    nav  {
        display: flex;
        justify-content: flex-end;
        margin: 0.5em;
    }

    div#contact h1 {
        font-size: 3rem;
        color: black;
        display: none;
    }

    div#location-text {
        width: 30%;
        height: 10em;
    }

    div#map {
        width: 30%;
        height: 10em;
    }

    .map-wrapper {
        height: 20em;
    }

    #footer-spacer {
        height: 13em;
    }

    #page-heading {
        font-size: 3em;
    }

    nav {
        font-size: 1.75em;
    }

    div h2 {
        font-size: 1.7em;
    }

    div p {
        font-size: 1.2rem;
    }

    .page-info {
        flex-basis: 400px;
    }

    #coffee-image, #interior-image, #drink-image {
        height: 500px;
    }

    #contact {
        height: 500px;
    }

    div#menu-image.fade.fade.mySlides, div#menu-image2.fade.fade.mySlides, div#menu-image3.fade.fade.mySlides {
        height: 500px;
    }

    .days {
        justify-content: space-evenly;
        /* text-align: left; */
    }

    

}

@media (min-width: 1200px) {
    div.form-wrapper {
        width: 35%;
    }

    div.page-info {
        width: 100px;
    }
}